<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


  <form action="https://127.0.0.1:8000/book/" method="post">
      {% csrf_token %}
      <h3>Количество пар</h3>
      Number: <input type="range" value="1" min="1" max="6"><br><br>
      Type: <input type="submit" class="button1" value="Забронировать"><br><br>
      User : <input type="text" name="user" value="st2257"><br><br>
      Number bb : <input type="number" name="number_bb" value=1><br><br>
      Pair Number : <input type="range" value="1" min="1" max="6" name="pair_number" value=1><br><br>
      Type: <input type="text" name="type" value="book_audience"><br><br>
      Token : <input type="text" name="token" value="d336bf2df96cea11e5352ba7b3e821a20328344b"><br><br>
      Audience : <input type="text"  name="audience" value="512"><br><br>
  </form>

</body>
</html>
